/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* Top Banner */
.topBannerTitleWrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBannerTitleTextUp {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
}

.topBannerTitleTextDown {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: -0.5rem;
  background: linear-gradient(
    90deg,
    rgb(131 58 180 / 100%) 0%,
    rgb(253 29 29 / 100%) 50%,
    rgb(252 176 69 / 100%) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html[data-theme="dark"] .topBannerTitleTextDown {
  background: linear-gradient(90deg, rgb(152 0 255) 0%, rgb(246 41 41) 50%, rgb(255 169 8) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 640px) {
  .topBannerTitleTextDown {
    margin-inline: 24px;
    font-size: 2.6rem;
    margin-top: -0.8rem;
  }

  .topBannerTitleTextUp {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .topBannerTitleTextDown {
    margin-inline: 32px;
  }
}

/* Hero Banner */
.hero {
  background-color: #33925d;
  padding: 48px;
}

html[data-theme="dark"] .hero {
  background-color: #2b3137;
}

.heroInner {
  margin: 0 auto;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

html[data-theme="light"] .heroTitleTextHtml b {
  color: #4fddbf;
}

@keyframes jack-in-the-box {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  height: auto;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 36px;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

.buttonDocs {
  /* mt-6 w-full flex justify-center md:justify-start */
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .buttonDocs {
    justify-content: start;
  }
}
